<nav class="navbar navbar-expand-lg bg-magenta">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav1">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'apps.carga_archivos:buscar_orden' %}">Buscar Orden</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% if user.is_superuser %}
  <nav class="navbar navbar-expand-lg bg-magenta">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2" aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav2">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ADMINISTRAR
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'apps.usuarios:listar_usuarios' %}">Listar Usuarios</a></li>
              <li><a class="dropdown-item" href="{% url 'apps.carga_archivos:cargar_archivo_excel' %}">Carga Orden Excel</a></li>
              <li><a class="dropdown-item" href="{% url 'apps.carga_archivos:listar_archivos_excel' %}">Archivos Cargados</a></li>
              <li><a class="dropdown-item" href="{% url 'apps.carga_archivos:vista_previa_archivo' %}">Listado de Ordenes</a></li>
              <li><a class="dropdown-item" href="{% url 'apps.contenido:subir_media' %}">Subir Contenido</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endif %}
  